.header
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  @media screen and ( max-width: 969px )
    margin: 0
    align-items: center
  a
    text-decoration: none
  svg
    cursor: pointer


  &__container
    display: flex
    position: relative
    margin: 30px 12.5% 0
    @media (min-width: 1201px) and ( max-width: 1700px )
      margin: 30px 7% 0
    @media (min-width: 970px) and ( max-width: 1200px )
      margin: 30px 3% 0
    @media (min-width: 970px) and ( max-width: 1400px )
      flex-direction: column
      align-items: center
    @media screen and ( max-width: 969px )
      display: block

  &__logo
    width: 246px
    height: 181px
    @media screen and ( max-width: 1400px )
      position: relative
      left: 23px
      
    @media screen and ( max-width: 969px )
      margin-top: 30px

  &__categories-container
    display: flex
    justify-content: center
    align-items: center
    height: fit-content
    margin: 0
    margin-top: 39px
    
    @media screen and ( min-width: 1700px )
      position: absolute
      right: 0
      z-index: 1
      
    @media (min-width: 1401px) and ( max-width: 1700px )
      position: absolute
      z-index: 1
      right: calc(50% - 600px)
      
    @media screen and ( max-width: 969px )
      flex-direction: column
      margin: 50px 0
      position: static

  &__category
    font-size: 20px
    font-weight: 500
    letter-spacing: 1.4px
    color: #4d4d4d
    padding-right: 5px
    text-align: center
    display: inline
    padding-bottom: 8px
    @media (min-width: 970px) and ( max-width: 1700px )
      font-size: 16px
    &:hover
      padding-bottom: 5px
      border-bottom: solid 3px #897ac8
      
    &__main

    &__about
      margin: 14px 0
      @media screen and ( min-width: 970px )
        margin-left: 39px
        margin-right: 43px

    &__specialists
      margin: 14px 0
      @media screen and ( min-width: 970px )
        margin-left: 38px
        margin-right: 43px

    &__stories
      @media screen and ( max-width: 969px )
        padding-bottom: 0

    &--no-hover-effect
      display: flex
      flex-direction: column
      position: relative
      font-size: 20px
      font-weight: 500
      letter-spacing: 1.4px
      color: #4d4d4d  
      text-align: center
      padding-bottom: 8px
      @media (min-width: 970px) and ( max-width: 1700px )
        font-size: 16px
      span
        margin: 14px 0
      &:hover
        .header__accordions-container
          display: flex
          flex-direction: column
          max-width: 152px
          position: absolute
          top: 45px
          z-index: 2
          @media screen and ( max-width: 969px )
            position: static
        .header__svg-arrow2
          transform: rotate(90deg)
          transition: transform 0.5s
            
  &__svg-arrow
    transition: transform 0.5s
    position: relative
    fill: #897ac8
    margin-left: 11px

  &__accordions-container
    display: none
    text-align: left
    background-color: rgba(255,255,255, 0.7) !important

  &__additional-container
    padding: 0 12px

  &__accordion
    display: flex
    color: #4d4d4d
    font-size: 18px
    letter-spacing: 1.26px
    padding: 9px 0
    width: 100%
    @media (min-width: 970px) and ( max-width: 1200px )
      font-size: 14px
      
    &:hover
      padding-bottom: 8px
      border-bottom: solid 1px #897ac8

  &__content
    width: 100%
    max-width: 1920px
    display: flex
    // margin: 30px 0 0 12.5%
    @media (min-width: 1201px) and ( max-width: 1700px )
      // margin: 30px 0 0 7%
    @media (min-width: 970px) and ( max-width: 1200px )
      margin: 30px 0 0 3%
    @media screen and ( max-width: 969px  )
      margin: 0
      flex-direction: column

  &__item
    &1
      @media screen and ( min-width: 1200px )
        width: 38.38%
    &2
      @media (min-width: 970px) and ( max-width: 1200px )
        width: 50%       
      // media screen and ( min-width: 969px )
      //   width: 100%

  &__calculator
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 30px
    width: 320px
    margin-left: 91px
    margin-top: 174px
    @media screen and ( max-width: 969px )
      margin: 0 auto

    &__title
      font-size: 41px
      color: #0f65b1
      // width: 100%
      text-align: left
      @media screen and ( max-width: 969px )
        text-align: center
      
    &__instruction
      font-size: 26px
      font-weight: 300
      letter-spacing: 1.32px
      color: #4d4d4d
      margin: 29px 0 34px
      width: 100%
      // media screen and ( max-width: 969px )
      //   text-align: center

    &__wrapper
      width: 100%
      display: flex
      // media screen and ( max-width: 969px )
      //   position: relative
      //   left: 19px
      
    &__labels
      font-size: 24px
      font-weight: 300
      color: #4d4d4d
      display: flex
      flex-direction: column
    &__gender-label
    &__weight-label
      margin: 20px 0
    &__height-label
      margin-right: 30px

    &__inputs
      font-size: 24px
      font-weight: 300
      color: #4d4d4d
      @media screen and ( max-width: 969px )
        width: auto

    &__radio-text
      margin-left: 9px 

    &__button-container
      display: flex
      justify-content: center
      cursor: pointer
      margin-top: 64px
      @media screen and ( max-width: 969px )
        margin-bottom: 30px
      &:hover
        .header__calculator__button-bmi
          color: #000

    &__button-bmi
      z-index: 1
      font-size: 20px
      font-weight: 500
      letter-spacing: 1.4px
      color: #fff
      padding: 10px 43px 17px
      background-color: #897ac8
    
  &__user-weight
    margin: 20px 0

  &__text-input
    margin-right: 12px
    position: relative
    bottom: 8px

  &__radio-svg

  &__radio-button
      
  &__radio-button--active
    fill: #897ac8
    stroke: #897ac8

  &__text-input
    border: solid 1px #897ac8
    background-color: #fff
    max-width: 164px
    height: 31px
    font-size: 24px
    &:focus
      outline: none

  &__user-weight, &__user-height
    font-size: 24px
    font-weight: 300
    color: #4d4d4d
    
  &__image-container
    background-image: url("src/header-image.png")
    background-repeat: no-repeat
    background-position: 65%
    max-width: 1183px
    height: 934px
    margin: 0 auto
    @media screen and ( min-width: 1600px )
      position: absolute
      margin-left: auto
      right: 0
      width: 100%
      top: 146px
    @media ( min-width: 1401px ) and (max-width: 1599px)
      position: absolute
      right: 0
      width: 53%
      // width: 100%
      top: 146px
    @media (min-width: 970px) and ( max-width: 1400px)
      position: absolute
      right: 0
      width: 60%
    @media (min-width: 800px) and (max-width: 969px)
      background-position: 100%
    @media screen and ( max-width: 450px )
      height: 500px
      background-size: 600px 480px
      background-position: 70%
  &__arrow-container
    display: flex
    justify-content: center
    z-index: 1
    @media screen and ( min-width: 1401px )
      margin-top: 160px
    @media (min-width: 970px) and ( max-width: 1400px)
      margin-top: 250px
    @media screen and (max-width: 969px)
      position: relative
      bottom: 70px
      
  &__next-section-arrow
    fill: #fff
    opacity: 0.85
    &:hover
      opacity: 1

  &__calculator__output-block
    display: none
    width: 435px
    height: 398.5px
    @media screen and ( max-width: 969px )
      width: 320px

  &__calculator__wrapper2
    display: flex
    @media screen and ( max-width: 969px )
      flex-direction: column
      
    
  &__calculator__output
    text-align: center

  &__calculator__result
    font-size: 20px
    font-weight: 300
    color: #4d4d4d
    margin: 38px 0 60px
    max-width: 360px
    @media screen and ( max-width: 360px )
      width: 320px
      

  &__calculator__button-output
    margin: 0 auto
    padding: 15px 20px 17px
    font-size: 17px
    font-weight: 500
    letter-spacing: 1.19px
    background-color: #897ac8
    color: #fff
    max-width: 208px



  //TODO: add BMI calculation and add display of output
