.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 12.5% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1201px) and (max-width: 1700px) {
  .header {
    margin: 30px 7% 0;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .header {
    margin: 30px 3% 0;
  }
}

@media screen and (max-width: 969px) {
  .header {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header a {
  text-decoration: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 970px) and (max-width: 1400px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 969px) {
  .header__container {
    display: block;
  }
}

.header__logo {
  width: 246px;
  height: 181px;
}

@media screen and (max-width: 1400px) {
  .header__logo {
    position: relative;
    left: 23px;
  }
}

@media screen and (max-width: 969px) {
  .header__logo {
    margin-top: 30px;
  }
}

.header__categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin-top: 39px;
}

@media screen and (min-width: 1700px) {
  .header__categories-container {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .header__categories-container {
    position: absolute;
    z-index: 1;
    right: calc(50% - 600px);
  }
}

@media screen and (max-width: 969px) {
  .header__categories-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0;
    position: static;
  }
}

.header__category {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 8px;
}

@media (min-width: 970px) and (max-width: 1700px) {
  .header__category {
    font-size: 16px;
  }
}

.header__category:hover {
  padding-bottom: 5px;
  border-bottom: solid 3px #897ac8;
}

.header__category__about {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__about {
    margin-left: 39px;
    margin-right: 43px;
  }
}

.header__category__team {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__team {
    margin-left: 38px;
    margin-right: 43px;
  }
}

@media screen and (max-width: 969px) {
  .header__category__stories {
    padding-bottom: 0;
  }
}

.header__category--no-hover-effect {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

@media (min-width: 970px) and (max-width: 1700px) {
  .header__category--no-hover-effect {
    font-size: 16px;
  }
}

.header__category--no-hover-effect:hover .header__accordions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 152px;
  position: absolute;
  top: 25px;
  z-index: 2;
}

@media screen and (max-width: 969px) {
  .header__category--no-hover-effect:hover .header__accordions-container {
    position: static;
  }
}

.header__category--no-hover-effect:hover .header__svg-arrow2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 0;
  padding-bottom: 11px;
  width: 17px;
}

.header__svg-arrow {
  fill: #897ac8;
  padding-left: 11px;
}

.header__accordions-container {
  display: none;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.header__additional-container {
  padding: 0 12px;
}

.header__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 1.26px;
  padding: 9px 0;
  width: 100%;
}

@media (min-width: 970px) and (max-width: 1200px) {
  .header__accordion {
    font-size: 14px;
  }
}

.header__accordion:hover {
  padding-bottom: 8px;
  border-bottom: solid 1px #897ac8;
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__item1 {
    width: 38.38%;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .header__item2 {
    width: 53%;
  }
}

@media screen and (min-width: 1200px) {
  .header__item2 {
    width: 100%;
  }
}

.header__calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 320px;
  margin-left: 91px;
  margin-top: 174px;
}

@media screen and (max-width: 969px) {
  .header__calculator {
    margin: 0 auto;
  }
}

.header__calculator__title {
  font-size: 41px;
  color: #0f65b1;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 969px) {
  .header__calculator__title {
    text-align: center;
  }
}

.header__calculator__instruction {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1.32px;
  color: #4d4d4d;
  margin: 29px 0 34px;
  width: 100%;
}

.header__calculator__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__calculator__labels {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__calculator__weight-label {
  margin: 20px 0;
}

.header__calculator__height-label {
  margin-right: 30px;
}

.header__calculator__inputs {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

.header__calculator__radio-text {
  margin-left: 9px;
}

.header__calculator__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 64px;
}

@media screen and (max-width: 969px) {
  .header__calculator__button-container {
    margin-bottom: 30px;
  }
}

.header__calculator__button-container:hover .header__calculator__button-bmi {
  color: #000;
}

.header__calculator__button-bmi {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #fff;
  padding: 10px 43px 17px;
  background-color: #897ac8;
}

.header__user-weight {
  margin: 20px 0;
}

.header__text-input {
  margin-right: 12px;
  position: relative;
  bottom: 8px;
}

.header__radio-button--active {
  fill: #897ac8;
  stroke: #897ac8;
}

.header__text-input {
  border: solid 1px #897ac8;
  background-color: #fff;
  max-width: 164px;
  height: 31px;
  font-size: 24px;
}

.header__text-input:focus {
  outline: none;
}

.header__user-weight, .header__user-height {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

.header__image-container {
  background-image: url("src/header-image.png");
  background-repeat: no-repeat;
  background-position: 65%;
  max-width: 1183px;
  height: 934px;
  margin: 0 auto;
}

@media screen and (min-width: 1600px) {
  .header__image-container {
    position: absolute;
    right: 0;
    width: 100%;
    top: 146px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .header__image-container {
    position: absolute;
    right: 0;
    width: 53%;
    top: 146px;
  }
}

@media (min-width: 970px) and (max-width: 1399px) {
  .header__image-container {
    position: absolute;
    right: 0;
    width: 50%;
  }
}

@media (min-width: 800px) and (max-width: 969px) {
  .header__image-container {
    background-position: 100%;
  }
}

@media screen and (max-width: 450px) {
  .header__image-container {
    height: 500px;
    background-size: 600px 480px;
    background-position: 70%;
  }
}
