.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 969px) {
  .header {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header a {
  text-decoration: none;
}

.header svg {
  cursor: pointer;
}

.header__accordions-container {
  display: none;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container--landing-page {
  margin: 30px 12.5% 0;
}

@media (min-width: 970px) and (max-width: 1250px) {
  .header__container--landing-page {
    margin: 30px 3% 0;
  }
}

@media (min-width: 970px) and (max-width: 1400px) {
  .header__container--landing-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 969px) {
  .header__container--landing-page {
    display: block;
  }
}

.header__container--small-logo {
  margin: 66px 12.3% 45px 11.9%;
}

@media screen and (max-width: 1550px) {
  .header__container--small-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 66px 3% 43px 3%;
  }
}

.header__logo {
  width: 246px;
  height: 181px;
}

@media screen and (max-width: 1400px) {
  .header__logo {
    position: relative;
    left: 23px;
  }
}

@media screen and (max-width: 969px) {
  .header__logo {
    margin-top: 30px;
  }
}

.header__logo-small {
  width: 327px;
  height: 60px;
}

@media screen and (max-width: 340px) {
  .header__logo-small {
    width: 100%;
    height: auto;
  }
}

.header__categories-container--big-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin-top: 39px;
}

@media screen and (min-width: 1700px) {
  .header__categories-container--big-logo {
    position: absolute;
    right: 0;
    z-index: 100;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .header__categories-container--big-logo {
    position: absolute;
    z-index: 100;
    right: calc(50% - 600px);
  }
}

@media screen and (max-width: 969px) {
  .header__categories-container--big-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    position: static;
  }
}

.header__categories-container--small-logo {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}

@media screen and (max-width: 1550px) {
  .header__categories-container--small-logo {
    margin-top: 39px;
  }
}

@media screen and (max-width: 969px) {
  .header__categories-container--small-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__category {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 8px;
}

@media (min-width: 970px) and (max-width: 1700px) {
  .header__category {
    font-size: 16px;
  }
}

.header__category:hover, .header__category--current {
  padding-bottom: 5px !important;
  border-bottom: solid 3px #897ac8;
}

.header__category--no-hover-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  border: 0 !important;
}

.header__category--no-hover-effect span {
  margin: 14px 0;
}

@media screen and (max-width: 969px) {
  .header__category--no-hover-effect span {
    margin: 10px 0;
  }
}

.header__category--no-hover-effect:hover span {
  margin-top: 11px;
}

.header__category--no-hover-effect:hover .header__accordions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 152px;
  position: absolute;
  top: 45px;
  z-index: 2;
}

@media screen and (max-width: 969px) {
  .header__category--no-hover-effect:hover .header__accordions-container {
    position: static;
  }
}

.header__category--no-hover-effect:hover .header__svg-arrow2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__category--small-logo {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 8px;
}

@media (min-width: 1651px) and (max-width: 1860px) {
  .header__category--small-logo {
    font-size: 16px;
  }
}

@media (min-width: 1551px) and (max-width: 1650px) {
  .header__category--small-logo {
    font-size: 14px;
  }
}

@media (min-width: 970px) and (max-width: 1150px) {
  .header__category--small-logo {
    font-size: 14px;
  }
}

@media screen and (max-width: 969px) {
  .header__category--small-logo {
    font-size: 20px;
  }
}

.header__category--small-logo:hover, .header__category--small-logo--current {
  padding-bottom: 5px;
  border-bottom: solid 3px #897ac8;
}

.header__category--small-logo--current--accordions {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  border-bottom: solid 3px #897ac8;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 5px;
}

@media (min-width: 1651px) and (max-width: 1860px) {
  .header__category--small-logo--current--accordions {
    font-size: 16px;
  }
}

@media (min-width: 1551px) and (max-width: 1650px) {
  .header__category--small-logo--current--accordions {
    font-size: 14px;
  }
}

@media (min-width: 970px) and (max-width: 1150px) {
  .header__category--small-logo--current--accordions {
    font-size: 14px;
  }
}

@media screen and (max-width: 969px) {
  .header__category--small-logo--current--accordions {
    font-size: 20px;
  }
}

.header__category__about {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__about {
    margin-left: 39px;
    margin-right: 43px;
  }
}

.header__category__specialists {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__specialists {
    margin-left: 38px;
    margin-right: 43px;
  }
}

.header__svg-arrow {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  fill: #897ac8;
  margin-left: 11px;
}

.header__additional-container {
  padding: 0 12px;
}

.header__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 1.26px;
  padding: 9px 0;
  width: 100%;
}

@media (min-width: 970px) and (max-width: 1200px) {
  .header__accordion {
    font-size: 14px;
  }
}

.header__accordion:hover {
  padding-bottom: 8px;
  border-bottom: solid 1px #897ac8;
}

.header__content {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .header__content {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 39%;
  z-index: 3;
}

@media screen and (max-width: 969px) {
  .header__item1 {
    width: 100%;
  }
}

.header__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 61%;
}

@media screen and (max-width: 969px) {
  .header__item2 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}

@media screen and (max-width: 969px) {
  .header__calculator {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.header__calculator__title {
  font-size: 41px;
  color: #0f65b1;
  text-align: left;
}

@media (min-width: 970px) and (max-width: 990px) {
  .header__calculator__title {
    padding-left: 10px;
  }
}

@media screen and (max-width: 969px) {
  .header__calculator__title {
    text-align: center;
  }
}

.header__calculator__instruction {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1.32px;
  color: #4d4d4d;
  margin: 29px 0 34px;
  width: 100%;
}

.header__calculator__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__calculator__labels {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__calculator__weight-label {
  margin: 20px 0;
}

.header__calculator__height-label {
  margin-right: 30px;
}

.header__calculator__inputs {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

@media screen and (max-width: 969px) {
  .header__calculator__inputs {
    width: auto;
  }
}

.header__calculator__radio-text {
  margin-left: 9px;
}

.header__calculator__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 64px;
}

@media screen and (max-width: 969px) {
  .header__calculator__button-container {
    margin-bottom: 30px;
  }
}

.header__calculator__button-container:hover .header__calculator__button-bmi {
  color: #000;
}

.header__calculator__button-bmi {
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #fff;
  padding: 10px 43px 17px;
  background-color: #897ac8;
}

.header__user-weight {
  margin: 20px 0;
}

.header__text-input {
  margin-right: 12px;
  position: relative;
  bottom: 8px;
}

.header__radio-button--active {
  fill: #897ac8;
  stroke: #897ac8;
}

.header__text-input {
  border: solid 1px #897ac8;
  background-color: #fff;
  max-width: 164px;
  height: 31px;
  font-size: 24px;
}

.header__text-input:focus {
  outline: none;
}

.header__user-weight, .header__user-height {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

.header__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 471px) and (max-width: 969px) {
  .header__image {
    height: 934px;
    -o-object-position: 65%;
       object-position: 65%;
  }
}

@media screen and (max-width: 470px) {
  .header__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 320px;
    height: 500px;
    -o-object-position: 65%;
       object-position: 65%;
  }
}

.header__arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
  bottom: 70px;
}

.header__next-section-arrow {
  fill: #fff;
  opacity: 0.85;
}

.header__next-section-arrow:hover {
  opacity: 1;
}

.header__calculator__output-block {
  display: none;
  width: 435px;
  height: 398.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 970px) and (max-width: 1400px) {
  .header__calculator__output-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 969px) {
  .header__calculator__output-block {
    width: 320px;
  }
}

.header__calculator__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .header__calculator__wrapper2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__calculator__output {
  text-align: center;
}

.header__calculator__result {
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  margin: 38px 0 60px;
  max-width: 370px;
}

@media (min-width: 970px) and (max-width: 990px) {
  .header__calculator__result {
    padding-left: 10px;
  }
}

@media screen and (max-width: 370px) {
  .header__calculator__result {
    width: 320px;
  }
}

.header__calculator__button-output {
  margin: 0 auto;
  padding: 15px 20px 17px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.19px;
  background-color: #897ac8;
  color: #fff;
  max-width: 208px;
}
