.background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.background__small {
  background-image: url("src/background.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.background__small:after {
  opacity: 0.25;
}

.background__large {
  background-image: url("src/background-large.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.background__large:after {
  opacity: 0.25;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 969px) {
  .header {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header a {
  text-decoration: none;
}

.header svg {
  cursor: pointer;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container--landing-page {
  margin: 30px 12.5% 0;
}

@media (min-width: 970px) and (max-width: 1250px) {
  .header__container--landing-page {
    margin: 30px 3% 0;
  }
}

@media (min-width: 970px) and (max-width: 1400px) {
  .header__container--landing-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 969px) {
  .header__container--landing-page {
    display: block;
  }
}

.header__container--about-page {
  margin: 66px 12.3% 0 11.9%;
}

.header__logo {
  width: 246px;
  height: 181px;
}

@media screen and (max-width: 1400px) {
  .header__logo {
    position: relative;
    left: 23px;
  }
}

@media screen and (max-width: 969px) {
  .header__logo {
    margin-top: 30px;
  }
}

.header__logo-small {
  width: 327px;
  height: 60px;
}

@media screen and (max-width: 340px) {
  .header__logo-small {
    width: 100%;
    height: auto;
  }
}

.header__categories-container--big-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin-top: 39px;
}

@media screen and (min-width: 1700px) {
  .header__categories-container--big-logo {
    position: absolute;
    right: 0;
    z-index: 100;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .header__categories-container--big-logo {
    position: absolute;
    z-index: 100;
    right: calc(50% - 600px);
  }
}

@media screen and (max-width: 969px) {
  .header__categories-container--big-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    position: static;
  }
}

.header__categories-container--small-logo {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}

.header__category {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 8px;
}

@media (min-width: 970px) and (max-width: 1700px) {
  .header__category {
    font-size: 16px;
  }
}

.header__category:hover, .header__category--current {
  padding-bottom: 5px !important;
  border-bottom: solid 3px #897ac8;
}

.header__category--no-hover-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  border: 0 !important;
}

.header__category--no-hover-effect span {
  margin: 14px 0;
}

.header__category--no-hover-effect:hover span {
  margin-top: 11px;
}

.header__category--no-hover-effect:hover .header__accordions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 152px;
  position: absolute;
  top: 45px;
  z-index: 2;
}

@media screen and (max-width: 969px) {
  .header__category--no-hover-effect:hover .header__accordions-container {
    position: static;
  }
}

.header__category--no-hover-effect:hover .header__svg-arrow2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__category--small-logo {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #4d4d4d;
  padding-right: 5px;
  text-align: center;
  display: inline;
  padding-bottom: 8px;
}

@media (min-width: 970px) and (max-width: 1860px) {
  .header__category--small-logo {
    font-size: 16px;
  }
}

.header__category--small-logo:hover, .header__category--small-logo--current {
  padding-bottom: 5px;
  border-bottom: solid 3px #897ac8;
}

.header__category__about {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__about {
    margin-left: 39px;
    margin-right: 43px;
  }
}

.header__category__specialists {
  margin: 14px 0;
}

@media screen and (min-width: 970px) {
  .header__category__specialists {
    margin-left: 38px;
    margin-right: 43px;
  }
}

.header__svg-arrow {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  fill: #897ac8;
  margin-left: 11px;
}

.header__accordions-container {
  display: none;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.header__additional-container {
  padding: 0 12px;
}

.header__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 1.26px;
  padding: 9px 0;
  width: 100%;
}

@media (min-width: 970px) and (max-width: 1200px) {
  .header__accordion {
    font-size: 14px;
  }
}

.header__accordion:hover {
  padding-bottom: 8px;
  border-bottom: solid 1px #897ac8;
}

.header__content {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .header__content {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 39%;
  z-index: 3;
}

@media screen and (max-width: 969px) {
  .header__item1 {
    width: 100%;
  }
}

.header__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 61%;
}

@media screen and (max-width: 969px) {
  .header__item2 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}

@media screen and (max-width: 969px) {
  .header__calculator {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.header__calculator__title {
  font-size: 41px;
  color: #0f65b1;
  text-align: left;
}

@media (min-width: 970px) and (max-width: 990px) {
  .header__calculator__title {
    padding-left: 10px;
  }
}

@media screen and (max-width: 969px) {
  .header__calculator__title {
    text-align: center;
  }
}

.header__calculator__instruction {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1.32px;
  color: #4d4d4d;
  margin: 29px 0 34px;
  width: 100%;
}

.header__calculator__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__calculator__labels {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__calculator__weight-label {
  margin: 20px 0;
}

.header__calculator__height-label {
  margin-right: 30px;
}

.header__calculator__inputs {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

@media screen and (max-width: 969px) {
  .header__calculator__inputs {
    width: auto;
  }
}

.header__calculator__radio-text {
  margin-left: 9px;
}

.header__calculator__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 64px;
}

@media screen and (max-width: 969px) {
  .header__calculator__button-container {
    margin-bottom: 30px;
  }
}

.header__calculator__button-container:hover .header__calculator__button-bmi {
  color: #000;
}

.header__calculator__button-bmi {
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #fff;
  padding: 10px 43px 17px;
  background-color: #897ac8;
}

.header__user-weight {
  margin: 20px 0;
}

.header__text-input {
  margin-right: 12px;
  position: relative;
  bottom: 8px;
}

.header__radio-button--active {
  fill: #897ac8;
  stroke: #897ac8;
}

.header__text-input {
  border: solid 1px #897ac8;
  background-color: #fff;
  max-width: 164px;
  height: 31px;
  font-size: 24px;
}

.header__text-input:focus {
  outline: none;
}

.header__user-weight, .header__user-height {
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
}

.header__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 471px) and (max-width: 969px) {
  .header__image {
    height: 934px;
    -o-object-position: 65%;
       object-position: 65%;
  }
}

@media screen and (max-width: 470px) {
  .header__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 320px;
    height: 500px;
    -o-object-position: 65%;
       object-position: 65%;
  }
}

.header__arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
  bottom: 70px;
}

.header__next-section-arrow {
  fill: #fff;
  opacity: 0.85;
}

.header__next-section-arrow:hover {
  opacity: 1;
}

.header__calculator__output-block {
  display: none;
  width: 435px;
  height: 398.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 970px) and (max-width: 1400px) {
  .header__calculator__output-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 969px) {
  .header__calculator__output-block {
    width: 320px;
  }
}

.header__calculator__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .header__calculator__wrapper2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__calculator__output {
  text-align: center;
}

.header__calculator__result {
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  margin: 38px 0 60px;
  max-width: 370px;
}

@media (min-width: 970px) and (max-width: 990px) {
  .header__calculator__result {
    padding-left: 10px;
  }
}

@media screen and (max-width: 370px) {
  .header__calculator__result {
    width: 320px;
  }
}

.header__calculator__button-output {
  margin: 0 auto;
  padding: 15px 20px 17px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.19px;
  background-color: #897ac8;
  color: #fff;
  max-width: 208px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 91px;
}

@media screen and (max-width: 969px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 91px;
  }
}

@media screen and (max-width: 1919px) {
  .about br {
    display: none;
  }
}

.about__br-always-on br {
  display: initial;
}

.about ul, .about li {
  list-style-position: outside;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

@media screen and (max-width: 969px) {
  .about ul, .about li {
    text-align: left;
  }
}

.about li {
  font-size: 13px;
  color: #897ac8;
}

.about li span {
  color: #000;
  font-size: 18px;
}

.about__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 48%;
}

@media screen and (max-width: 969px) {
  .about__item1 {
    margin-bottom: 30px;
    width: 100%;
  }
}

.about__image-wrapper {
  width: 100%;
  max-width: 676px;
  line-height: 1.67;
}

@media screen and (max-width: 969px) {
  .about__image-wrapper {
    max-width: none;
  }
}

.about__image {
  width: 100%;
  height: auto;
}

.about__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  margin-top: 20px;
}

@media screen and (max-width: 969px) {
  .about__item2 {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.about__wrapper2 {
  width: calc(100% - 68px);
  max-width: 725px;
  margin: 0 20px 0 48px;
}

@media screen and (min-width: 1920px) {
  .about__wrapper2 {
    width: 100%;
  }
}

@media screen and (max-width: 969px) {
  .about__wrapper2 {
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

.about__size20-weight500 {
  font-size: 20px;
  font-weight: 500;
}

.about__size18-weight300 {
  font-size: 18px;
  font-weight: 300;
}

.about__turn-violet {
  color: #897ac8;
}

.about__text1 {
  line-height: 1.5;
}

@media screen and (max-width: 969px) {
  .about__text1 {
    width: 100%;
  }
}

.about__text2 {
  margin-top: 70px;
  line-height: 1.67;
}

@media screen and (max-width: 969px) {
  .about__text2 {
    margin-top: 30px;
  }
}

.about__text4 {
  max-width: 465px;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 40px;
  line-height: 1.38;
  color: #0f65b1;
}

@media (min-width: 970px) and (max-width: 1025px) {
  .about__text4 {
    font-size: 36px;
  }
}

@media screen and (max-width: 969px) {
  .about__text4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 529px) {
  .about__text4 {
    font-size: 24px;
    max-width: 318px;
  }
}

.footer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 660px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container1 {
  width: 48%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 660px) {
  .footer__container1 {
    width: 100%;
  }
}

.footer__container2 {
  width: 52%;
}

@media screen and (max-width: 660px) {
  .footer__container2 {
    width: 100%;
  }
}

.footer__additional-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 660px) {
  .footer__additional-container {
    width: 100%;
    margin: 0 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__text {
  font-size: 14px;
  font-weight: 300;
  color: #4d4d4d;
}

@media screen and (max-width: 660px) {
  .footer__text {
    width: 100%;
  }
}

.footer__text1 {
  margin-right: 40px;
}

@media screen and (max-width: 660px) {
  .footer__text1 {
    margin: 0;
  }
}

.footer__text2 {
  margin-left: 77px;
  margin-right: 50px;
}

@media screen and (max-width: 660px) {
  .footer__text2 {
    margin: 0;
  }
}

.footer__img1 {
  margin: 16px 0 21px;
}

.footer__img2 {
  margin: 17px 0 22px;
}

@media screen and (max-width: 660px) {
  .footer__img2 {
    margin: 0 30px 21px;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 77px 0 46px;
  z-index: 2;
}

.video__wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 1462px;
  margin: 0 12.3% 0 11.9%;
}

@media screen and (max-width: 969px) {
  .video__wrapper {
    width: 100%;
    height: 600px;
  }
}

.video__wrapper:hover .video__button {
  fill: #897ac8;
  stroke: #897ac8;
}

.video__player {
  width: 100%;
  height: 100%;
  max-height: 603px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 65%;
     object-position: 65%;
}

.video__button {
  fill: #fff;
  stroke: #fff;
  stroke-width: 4;
  opacity: 0.85;
  position: absolute;
  left: calc( 50% - 59px);
  top: calc( 50% - 59px);
  pointer-events: none;
}

body, html {
  position: relative;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #eee8e6;
}
