.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.flexbox__lighter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.39;
}

.flexbox--about--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.67;
  padding-top: 40px;
  width: 100%;
}

@media screen and (max-width: 969px) {
  .flexbox--about--about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1919px) {
  .flexbox--about--about br {
    display: none;
  }
}

.flexbox--about--images {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 46px;
  width: 100%;
  max-width: 1462px;
}

@media screen and (max-width: 969px) {
  .flexbox--about--images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.flexbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox__container--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.flexbox__wrapper--about--complications {
  width: 100%;
  max-width: 1462px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .flexbox__wrapper--about--complications {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.flexbox__item ul, .flexbox__item li {
  list-style-position: outside;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

@media screen and (max-width: 969px) {
  .flexbox__item ul, .flexbox__item li {
    text-align: left;
  }
}

.flexbox__item li {
  font-size: 13px;
  color: #897ac8;
}

.flexbox__item li span {
  color: #000;
  font-size: 18px;
}

.flexbox__item--about--complications {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.flexbox__item--hand-image {
  z-index: 2;
  width: 100%;
  height: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 969px) {
  .flexbox__item--hand-image {
    margin-bottom: 48px;
  }
}

.flexbox__item1--about--about {
  z-index: 2;
  width: 100%;
  max-width: 943px;
  margin-right: 19px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 969px) {
  .flexbox__item1--about--about {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .flexbox__item1--about--about {
    margin: 0;
  }
}

.flexbox__image--responsive {
  width: 100%;
  height: auto;
}

.flexbox__image--hand-image {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

@media screen and (max-width: 969px) {
  .flexbox__image--hand-image {
    margin-top: 0;
  }
}

.flexbox__image-container--about--images {
  position: relative;
  height: auto;
  margin-bottom: 95px;
}

@media (min-width: 970px) and (max-width: 1250px) {
  .flexbox__image-container--about--images {
    width: 30%;
  }
}

@media (min-width: 451px) and (max-width: 969px) {
  .flexbox__image-container--about--images {
    width: 40%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 450px) {
  .flexbox__image-container--about--images {
    width: 90%;
    margin-bottom: 20px;
  }
}

.flexbox__svg--about--complications--item1 {
  position: relative;
  right: 5px;
}

.flexbox__opacity-box--about--images {
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 1.75;
  opacity: 0.85;
  background-color: #897ac8;
  font-size: 20px;
  color: #fff;
  height: 101px;
  padding-top: 18px;
  bottom: 0;
}
