.flexbox
  display: flex
  position: relative
  @media screen and ( max-width: 969px )
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

  &--about-section
    justify-content: center
    line-height: 1.67
    padding-top: 40px
    br
      @media screen and (max-width: 1919px)
        display: none
    
  &__lighter-background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    background-color: #ffffff
    opacity: 0.39

  &__item
    ul, li 
      list-style-position: outside
      margin: 0
      padding: 0
      padding-left: 18px
      @media screen and ( max-width: 969px )
        text-align: left
    li
      font-size: 13px
      color: #897ac8
    li span 
      color: #000
      font-size: 18px

  &__item1
    &--about-section
      z-index: 2
      max-width: 943px
      margin-right: 19px
      order: 1
      padding-left: 10px

  &__item2
    &--about-section
      z-index: 2
      max-width: 500px
      width: 100%
      max-height: 857px
      height: auto
      order: 2
      @media screen and ( max-width: 969px )
        margin-bottom: 48px

  &__image
    margin-top: 16px
    @media screen and ( max-width: 969px )
      margin-top: 0
    @media screen and ( max-width: 600px )
      width: 100%
      height: auto
     
      
      