.flexbox
  display: flex
  position: relative
  &__lighter-background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    background-color: #ffffff
    opacity: 0.39
  &--about--about
    display: flex
    justify-content: center
    line-height: 1.67
    padding-top: 40px
    br
      @media screen and (max-width: 1919px)
        display: none
  &--about--images
    display: flex
    justify-content: space-between
    margin: 0 auto
    margin-top: 46px
    width: 100%
    max-width: 1462px
    @media screen and ( max-width: 969px )
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
  &--about--complications
    justify-content: center
    width: 100%
    // max-width: 1462px
    // margin: 0 auto

  &__container
    display: flex
    &--about--complications
      justify-content: center

  &__wrapper
    display: flex
    justify-content: center
    align-items: center
    &--about--complications
      width: 100%
      max-width: 1462px
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between

  &__item
    ul, li 
      list-style-position: outside
      margin: 0
      padding: 0
      padding-left: 18px
      @media screen and ( max-width: 969px )
        text-align: left
    li
      font-size: 13px
      color: #897ac8
    li span 
      color: #000
      font-size: 18px
    &--about--complications
      width: 100%
      max-width: 400px
      margin-bottom: 77px

  &__item1
    &--about--about
      z-index: 2
      max-width: 943px
      margin-right: 19px
      order: 1
      padding-left: 10px

  &__item2
    &--about--about
      z-index: 2
      max-width: 500px
      width: 100%
      max-height: 857px
      height: auto
      order: 2
      @media screen and ( max-width: 969px )
        margin-bottom: 48px

  &__image
    margin-top: 16px
    @media screen and ( max-width: 969px )
      margin-top: 0
    @media screen and ( max-width: 600px )
      width: 100%
      height: auto
    &--about--images
      width: 100%
      height: auto
     
  &__image-container--about--images
    height: auto
    margin-bottom: 95px
    @media ( min-width: 970px ) and ( max-width: 1250px )
      width: 30%
    @media screen and ( max-width: 969px )
      width: 40%
      margin-bottom: 40px

  &__svg--about--complications--item1
    position: relative
    right: 5px
      