.flexbox
  display: flex
  position: relative
  &__lighter-background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    background-color: #ffffff
    opacity: 0.39
  &--about--about
    display: flex
    justify-content: center
    line-height: 1.67
    padding-top: 40px
    @media screen and ( max-width: 969px )
      flex-direction: column
      align-items: center
    br
      @media screen and (max-width: 1919px)
        display: none
  &--about--images
    display: flex
    justify-content: space-between
    margin: 0 auto
    margin-top: 46px
    width: 100%
    max-width: 1462px
    @media screen and ( max-width: 969px)
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around

  &__container
    display: flex
    &--centered
      justify-content: center
    &--slick
      max-width: 1462px 
      // display: flex
      // justify-content: center
      // align-items: center
      // width: 100%

      

  &__wrapper
    display: flex
    justify-content: center
    align-items: top
    &--about--complications
      width: 100%
      max-width: 1462px
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      @media screen and ( max-width: 1200px )
        justify-content: space-around
        
  &__item
    ul, li 
      list-style-position: outside
      margin: 0
      padding: 0
      padding-left: 18px
      @media screen and ( max-width: 969px )
        text-align: left
    li
      font-size: 13px
      color: #897ac8
    li span 
      color: #000
      font-size: 18px
    &--about--complications
      width: 100%
      max-width: 400px
      text-align: center

  &__item--slick
    width: 100%

  &__item1
    &--about--about
      z-index: 2
      max-width: 943px
      margin-right: 19px
      order: 1
      padding-left: 10px
      @media screen and ( max-width: 969px )
        text-align: center
        

  &__item2
    &--about--about
      z-index: 2
      max-width: 500px
      width: 100%
      max-height: 857px
      height: auto
      order: 2
      @media screen and ( max-width: 969px )
        margin-bottom: 48px

  &__image
    &--responsive
      width: 100%
      height: auto
    &--slick
      // height: 564px
      // object-fit: contain
      margin: 0 7px
      

    &--hand-image
      margin-top: 16px
      @media screen and ( max-width: 969px )
        margin-top: 0
      @media screen and ( max-width: 600px )
        width: 100%
        height: auto
    
     
  &__image-container--about--images
    height: auto
    margin-bottom: 95px
    @media ( min-width: 970px ) and ( max-width: 1250px )
      width: 30%
    @media (min-width: 451px) and ( max-width: 969px )
      width: 40%
      margin-bottom: 40px
    @media screen and ( max-width: 450px )
      width: 90%
      margin-bottom: 20px
      
  &__svg--about--complications--item1
    position: relative
    right: 5px

    //TODO: te 3 obrazki nad sekcja complications maja nie nachodzic na siebie 
    //oraz pasek fioletowy na dole nie ma byc czescia obrazka