<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <title>O Chorobie</title>
</head>

<body>
  <div class="background background__large"></div>
  <div id="header" class="header">
    <div style="margin-top: 66px; margin-bottom: 77px;" class="header__container header__container--mt-66px">
      <img src="../src/logo-horizontal.png" alt="">
      <div class="header__categories-container header__categories-container--mt-0">
        <a href="../index.html" class="header__category header__category__main">STRONA GŁÓWNA</a>
        <a href="#" class="header__category header__category__about header__category--current">O CHOROBIE</a>
        <div class="header__category--no-hover-effect">
          <span style="display: flex; align-items: center;">DLA PACJENTA
            <svg class="header__svg-arrow header__svg-arrow2" xmlns="http://www.w3.org/2000/svg" width="11" height="12"
              viewBox="0 0 11 12">
              <path class="header__svg-arrow" data-name="Polygon 1" d="M6,0l6,11H0Z"
                transform="translate(11) rotate(90)" />
            </svg>
          </span>
          <div class="header__accordions-container">
            <div class="header__additional-container">
              <a href="./treatment.html" class="header__accordion">LECZENIE</a>
              <a href="./sources.html">
                <div class="header__accordion header__wrapper">MATERIAŁY <br>EDUKACYJNE</div>
              </a>
            </div>
          </div>
        </div>
        <a href="./specialists.html" class="header__category header__category__specialists">SPECJALIŚCI</a>
        <a href="#" class="header__category header__category__stories">HISTORIE PACJENTÓW</a>
      </div>
    </div>
    <div class="video">
      <div class="video__wrapper">
        <video class="video__player" poster="../src/header-image-wide.png" playsinline controls>
          <source src="../src/video1.mp4" type="video/mp4" />
        </video>
        <svg class="video__button" xmlns="http://www.w3.org/2000/svg" width="107" height="107" viewBox="0 0 107 107">
          <path
            d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
            transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__container footer__container1">
      <div class="footer__additional-container">
        <div class="footer__text footer__text1">Inicjatorzy:</div>
        <img class="footer__img1" src="../src/footer-img1.png" alt="">
      </div>
    </div>
    <div class="footer__container footer__container2">
      <div class="footer__additional-container">
        <div class="footer__text footer__text2">Mecenas kampanii</div>
        <img class="footer__img2" src="../src/footer-img2.png" alt="">
      </div>
    </div>

  </div>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../main.js"></script>
</body>

</html>

<!-- TODO:  zrobic drugi background,
            poprawic poster by zakrywal filmik w pelni-->