<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../node_modules/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="../node_modules/plyr/dist/plyr.css">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <title>O Chorobie</title>
</head>

<body>
  <!-- START background -->
  <div class="background background__large"></div>
  <!-- END background -->

  <!-- START header -->
  <div id="header" class="header">
    <!-- START navbar -->
    <div class="header__container header__container--small-logo">
      <img class="header__logo-small" src="../src/logo-horizontal.png" alt="">
      <div class="header__categories-container--small-logo">
        <a href="../index.html"
          class="header__category--small-logo header__category--small-logo--pink-underline header__category__main">STRONA
          GŁÓWNA</a>
        <a href="./about.html"
          class="header__category--small-logo header__category--small-logo--pink-underline header__category__about">O
          CHOROBIE</a>
        <div class="flexbox--treatment--accordions">
          <span
            class="header__category--small-logo--current--accordions header__category--small-logo--current--accordions--pink-underline">DLA
            PACJENTA
            <svg class="header__svg-arrow header__svg-arrow2" xmlns="http://www.w3.org/2000/svg" width="11" height="12"
              viewBox="0 0 11 12">
              <path class="header__svg-arrow header__svg-arrow--sources" data-name="Polygon 1" d="M6,0l6,11H0Z"
                transform="translate(11) rotate(90)" />
            </svg>
          </span>
          <div class="header__accordions-container">
            <div class="header__additional-container">
              <a href="./treatment.html" class="header__accordion header__accordion--pink-underline">LECZENIE</a>
              <a href="./sources.html">
                <div class="header__accordion header__accordion--pink-underline header__wrapper">MATERIAŁY
                  <br>EDUKACYJNE</div>
              </a>
            </div>
          </div>
        </div>
        <a href="./specialists.html"
          class="header__category--small-logo header__category--small-logo--pink-underline header__category__specialists">SPECJALIŚCI</a>
        <a href="#"
          class="header__category--small-logo header__category--small-logo--pink-underline header__category__stories">HISTORIE
          PACJENTÓW</a>
      </div>
    </div>
  </div>
  <!-- END navbar -->
  <!-- END header -->
  <div class="margin-bottom37 color-blue text--centered text--size30 text--weight400">
    MATERIAŁY EDUKACYJNE
  </div>
  <div class="flexbox flexbox--sources">
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">1.</div>
        <div class="flexbox__wrapper--source-text">OKREŚLANIE CELÓW DŁUGOTERMINOWYCH</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">2.</div>
        <div class="flexbox__wrapper--source-text">LOREM IPSUM</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">3.</div>
        <div class="flexbox__wrapper--source-text">WSKAZÓWKI DOTYCZĄCE WPROWADZANIA WŁAŚCIWYCH</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">4.</div>
        <div class="flexbox__wrapper--source-text">MÓJ PLAN ŻYWIENIOWY</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">5.</div>
        <div class="flexbox__wrapper--source-text">MÓJ PLAN ŻYWIENIOWY KARTA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">6.</div>
        <div class="flexbox__wrapper--source-text">BROSZURA AKTYWNOŚĆ FIZYCZNA 1 ST ZAAWANSOWANIA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">7.</div>
        <div class="flexbox__wrapper--source-text">BROSZURA AKTYWNOŚĆ FIZYCZNA 2 ST ZAAWANSOWANIA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">8.</div>
        <div class="flexbox__wrapper--source-text">BROSZURA AKTYWNOŚĆ FIZYCZNA 3 ST ZAAWANSOWANIA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">9.</div>
        <div class="flexbox__wrapper--source-text">SEKRETEM ROZMIARU PORCJI JEST DŁOŃ</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">10.</div>
        <div class="flexbox__wrapper--source-text">WSKAZÓWKI DOTYCZĄCE ŚWIADOMEGO JEDZENIA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">11.</div>
        <div class="flexbox__wrapper--source-text">ZMIANY W STYLU ŻYCIA</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">12.</div>
        <div class="flexbox__wrapper--source-text">CZYNNIKI POWODUJĄCE OBJADANIE SIĘ</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">13.</div>
        <div class="flexbox__wrapper--source-text">RADZENIE SOBIE Z CHWILAMI SŁABOŚCI</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">14.</div>
        <div class="flexbox__wrapper--source-text">LISTA ZAMIENNIKÓW ŻYWIENIOWYCH</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">15.</div>
        <div class="flexbox__wrapper--source-text">PORADY I WSKAZÓWKI</div>
      </div>
    </a>
    <a href="#" class="flexbox__container--source">
      <div class="background--source"></div>
      <div class="flexbox__wrapper--source-button">ZOBACZ</div>
      <div class="flexbox__wrapper--source color-white">
        <div class="text--size40 text--centered margin-bottom29">16.</div>
        <div class="flexbox__wrapper--source-text">RADZENIE SOBIE Z NIEODPOWIEDNIMI KOMENTARZAMI</div>
      </div>
    </a>
  </div>

  <!-- START footer -->
  <div class="footer">
    <div class="footer__container footer__container1">
      <div class="footer__additional-container">
        <div class="footer__text footer__text1">Inicjatorzy:</div>
        <img class="footer__img1" src="../src/footer-img1.png" alt="">
      </div>
    </div>
    <div class="footer__container footer__container2">
      <div class="footer__additional-container">
        <div class="footer__text footer__text2">Mecenas kampanii</div>
        <img class="footer__img2" src="../src/footer-img2.png" alt="">
      </div>
    </div>

  </div>
  <!-- END footer -->

  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../node_modules/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="../node_modules/plyr/dist/plyr.js"></script>
  <script type="text/javascript" src="../main.js"></script>

</body>

</html>