<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../node_modules/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="../node_modules/plyr/dist/plyr.css">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <title>O Chorobie</title>
</head>

<body>
  <!-- START background -->
  <div class="background background--gmap"></div>
  <!-- END background -->

  <!-- START header -->
  <div id="header" class="header">
    <!-- START navbar -->
    <div class="header__container header__container--small-logo">
      <img class="header__logo-small" src="../src/logo-horizontal.png" alt="">
      <div class="header__categories-container--small-logo">
        <a href="../index.html" class="header__category--small-logo header__category__main">STRONA GŁÓWNA</a>
        <a href="#" class="header__category--small-logo header__category__about">O
          CHOROBIE</a>
        <div class="header__category header__category--small-logo header__category--no-hover-effect">
          <span style="display: flex; align-items: center;">DLA PACJENTA
            <svg class="header__svg-arrow header__svg-arrow2" xmlns="http://www.w3.org/2000/svg" width="11" height="12"
              viewBox="0 0 11 12">
              <path class="header__svg-arrow" data-name="Polygon 1" d="M6,0l6,11H0Z"
                transform="translate(11) rotate(90)" />
            </svg>
          </span>
          <div class="header__accordions-container">
            <div class="header__additional-container">
              <a href="./treatment.html" class="header__accordion">LECZENIE</a>
              <a href="./sources.html">
                <div class="header__accordion header__wrapper">MATERIAŁY <br>EDUKACYJNE</div>
              </a>
            </div>
          </div>
        </div>
        <a href="./specialists.html"
          class="header__category--small-logo header__category__specialists header__category--current">SPECJALIŚCI</a>
        <a href="#" class="header__category--small-logo header__category__stories">HISTORIE PACJENTÓW</a>
      </div>
    </div>
  </div>
  <!-- END navbar -->
  <!-- END header-->

  <div class="flexbox flexbox__container--centered flexbox__container--specialist margin-top50 margin-bottom95">
    <div class="text--size20 color-blue margin-bottom20 flexbox__wrapper--specialist">Mapa i lista ośrodków leczących
      otyłość</div>
    <span class="flexbox flexbox__container--centered flexbox--gmap">
      <div class="flexbox__container--gmaps-locations-details">
        <div class="flexbox__item--specialist">
          <span class="text--line-height1x92">
            <div class="text-size16 color-blue">Miejski Szpital Zespolony</div>
            <div class="text--size12 color-semi-black">imienia Mikołaja Kopernika w Olsztynie</div>
          </span>
          <span class="text--line-height1x6 margin-bottom10">
            <div class="text--size13 color-pink">Adres</div>
            <div class="text--size13 color-semi-black">Niepodległości 44<br>10-045 Olsztyn<br>woj. Warmińsko-Mazurskie
            </div>
            <div class="text--size13 color-pink">Kontakt</div>
            <div class="text--size13 color-semi-black">Telefon: 89 532 62 30<br>Email:
              <a href="mailto:sekretariat@szpital.olsztyn.pl">sekretariat@szpital.olsztyn.pl</a>
            </div>
          </span>
          <div class="flexbox__button flexbox__button--specialist flexbox__button--specialist1">ZOBACZ NA MAPIE</div>
        </div>
        <div class="flexbox__item--specialist">
          <span class="text--line-height1x92">
            <div class="text-size16 color-blue">Dietetyk Naturhouse</div>
            <div class="text--size12 color-semi-black">skuteczne odchudzanie i leczenie otyłości</div>
          </span>
          <span class="text--line-height1x6 margin-bottom10">
            <div class="text--size13 color-pink">Adres</div>
            <div class="text--size13 color-semi-black">Czarnieckiego 35<br>14-100 Ostróda<br>woj. Warmińsko-Mazurskie
            </div>
            <div class="text--size13 color-pink">Kontakt</div>
            <div class="text--size13 color-semi-black">Telefon: 667 042 008<br>Email:
              <a href="mailto:biuro@naturhouse-polska.com">biuro@naturhouse-polska.com</a>
            </div>
          </span>
          <div class="flexbox__button flexbox__button--specialist flexbox__button--specialist2">ZOBACZ NA MAPIE</div>
        </div>
        <div class="flexbox__item--specialist">
          <span class="text--line-height1x92">
            <div class="text-size16 color-blue">Centrum Leczenia Otyłości NZOZ Saba</div>
            <div class="text--size12 color-semi-black">skuteczne odchudzanie i leczenie otyłości</div>
          </span>
          <span class="text--line-height1x6 margin-bottom10">
            <div class="text--size13 color-pink">Adres</div>
            <div class="text--size13 color-semi-black">Grójecka 38<br>02-314 Warszawa<br>woj. Mazowieckie
            </div>
            <div class="text--size13 color-pink">Kontakt</div>
            <div class="text--size13 color-semi-black">Telefon: 516 289 230<br>Email:
              <a href="mailto:saba@clo-saba.pl">saba@clo-saba.pl</a>
            </div>
          </span>
          <div class="flexbox__button flexbox__button--specialist flexbox__button--specialist3">ZOBACZ NA MAPIE</div>
        </div>
        <div class="flexbox__item--specialist">
          <span class="text--line-height1x92">
            <div class="text-size16 color-blue">Centrum Leczenia Otyłości</div>
            <div class="text--size12 color-semi-black">Publiczne centrum medyczne</div>
          </span>
          <span class="text--line-height1x6 margin-bottom10">
            <div class="text--size13 color-pink">Adres</div>
            <div class="text--size13 color-semi-black">Garncarska 4<br>31-115 Kraków<br>woj. Małopolskie
            </div>
            <div class="text--size13 color-pink">Kontakt</div>
            <div class="text--size13 color-semi-black">Telefon: 12 423 02 38<br>Email:
              <a href="mailto:centrum@zdroweodchudzanie.pl">centrum@zdroweodchudzanie.pl</a>
            </div>
          </span>
          <div class="flexbox__button flexbox__button--specialist flexbox__button--specialist4">ZOBACZ NA MAPIE</div>
        </div>
        <div class="flexbox__item--specialist">
          <span class="text--line-height1x92">
            <div class="text-size16 color-blue">Bossamed</div>
            <div class="text--size12 color-semi-black">Gabinet leczenia otyłości</div>
          </span>
          <span class="text--line-height1x6 margin-bottom10">
            <div class="text--size13 color-pink">Adres</div>
            <div class="text--size13 color-semi-black">al. Tadeusza Kościuszki 106/116<br>90-442 Łódź<br>woj. Łódzkie
            </div>
            <div class="text--size13 color-pink">Kontakt</div>
            <div class="text--size13 color-semi-black">Telefon: 42 630 83 36<br>Email:
              <a href="mailto:malgosia@ossamed.pl">malgosia@ossamed.pl</a>
            </div>
          </span>
          <div class="flexbox__button flexbox__button--specialist flexbox__button--specialist5">ZOBACZ NA MAPIE</div>
        </div>
      </div>
      <div id="map1">
      </div>
    </span>
  </div>

  <!-- START footer -->
  <div class="footer">
    <div class="footer__container footer__container1">
      <div class="footer__additional-container">
        <div class="footer__text footer__text1">Inicjatorzy:</div>
        <img class="footer__img1" src="../src/footer-img1.png" alt="">
      </div>
    </div>
    <div class="footer__container footer__container2">
      <div class="footer__additional-container">
        <div class="footer__text footer__text2">Mecenas kampanii</div>
        <img class="footer__img2" src="../src/footer-img2.png" alt="">
      </div>
    </div>

  </div>
  <!-- END footer -->
  <script>

  </script>
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../node_modules/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="../node_modules/plyr/dist/plyr.js"></script>
  <script data-main="scripts/main" src="../require.js"></script>
  <script type="text/javascript" src="../main.js"></script>

</body>

</html>