<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../node_modules/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="../node_modules/plyr/dist/plyr.css">
  <link rel="stylesheet" type='text/css' href="../styles.css">
  <title>O Chorobie</title>
</head>

<body>
  <!-- START background -->
  <div class="background background__large"></div>
  <!-- END background -->

  <!-- START header -->
  <div id="header" class="header">
    <!-- START navbar -->
    <div class="header__container header__container--small-logo">
      <img class="header__logo-small" src="../src/logo-horizontal.png" alt="">
      <div class="header__categories-container--small-logo">
        <a href="../index.html" class="header__category--small-logo header__category__main">STRONA GŁÓWNA</a>
        <a href="./about.html" class="header__category--small-logo header__category__about">O CHOROBIE</a>
        <div class="flexbox--treatment--accordions">
          <span class="header__category--small-logo--current--accordions">DLA PACJENTA
            <svg class="header__svg-arrow header__svg-arrow2" xmlns="http://www.w3.org/2000/svg" width="11" height="12"
              viewBox="0 0 11 12">
              <path class="header__svg-arrow" data-name="Polygon 1" d="M6,0l6,11H0Z"
                transform="translate(11) rotate(90)" />
            </svg>
          </span>
          <div class="header__accordions-container">
            <div class="header__additional-container">
              <a href="./treatment.html" class="header__accordion">LECZENIE</a>
              <a href="./sources.html">
                <div class="header__accordion header__wrapper">MATERIAŁY <br>EDUKACYJNE</div>
              </a>
            </div>
          </div>
        </div>
        <a href="./specialists.html" class="header__category--small-logo header__category__specialists">SPECJALIŚCI</a>
        <a href="#" class="header__category--small-logo header__category__stories">HISTORIE PACJENTÓW</a>
      </div>
    </div>
    <!-- END navbar -->
    <!-- START PLYR video -->
    <div class="video--treatment">
      <div class="video__wrapper--treatment">
        <div class="video__wrapper--treatment--big-video">
          <div class="slick--treatment">
            <div class="slick__wrapper--treatment">
              <svg class="video__button video__button0" xmlns="http://www.w3.org/2000/svg" width="107" height="107"
                viewBox="0 0 107 107">
                <path
                  d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
                  transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
              </svg>
              <video class="video__player--treatment video__player--treatment1"
                poster="../src/treatment-video-poster.png" id="player" playsinline controls>
                <source src="../src/video1.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="slick__wrapper--treatment">
              <svg class="video__button video__button1" xmlns="http://www.w3.org/2000/svg" width="107" height="107"
                viewBox="0 0 107 107">
                <path
                  d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
                  transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
              </svg>
              <video class="video__player--treatment video__player--treatment2" poster="../src/slick2.png" id="player"
                playsinline controls>
                <source src="../src/video2.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="slick__wrapper--treatment">
              <svg class="video__button video__button2" xmlns="http://www.w3.org/2000/svg" width="107" height="107"
                viewBox="0 0 107 107">
                <path
                  d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
                  transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
              </svg>
              <video class="video__player--treatment video__player--treatment3" poster="../src/slick2.png" id="player"
                playsinline controls>
                <source src="../src/video3.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="video__wrapper--treatment--column-of-videos">
        <a href="javascript:;" data-slide="1"
          class="video__wrapper--treatment--small-video video__wrapper--treatment--small-video1">
          <svg class="video__button--treatment--small-video" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107 107">
            <path
              d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
              transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
          </svg>
          <div class="video__hover-text">
            <div class="video__hover-text-background"></div>
            <div class="video__hover-text1">Lorem ipsum dolor</div>
            <div class="video__hover-text2">Lorem ipsum dolor sit amet,</div>
            <div class="video__hover-text3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </div>
          </div>
          <img src="../src/treatment-video-poster.png" alt="" class="video__image--treatment">
        </a>
        <a href="javascript:;" data-slide="2"
          class="video__wrapper--treatment--small-video video__wrapper--treatment--small-video2">
          <svg class="video__button--treatment--small-video" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107 107">
            <path
              d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
              transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
          </svg>
          <div class="video__hover-text">
            <div class="video__hover-text-background"></div>
            <div class="video__hover-text1">Lorem ipsum dolor</div>
            <div class="video__hover-text2">Lorem ipsum dolor sit amet,</div>
            <div class="video__hover-text3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </div>
          </div>
          <img src="../src/treatment-video-poster2.png" alt="" class="video__image--treatment">
        </a>
        <a href="javascript:;" data-slide="3"
          class="video__wrapper--treatment--small-video video__wrapper--treatment--small-video3">
          <svg class="video__button--treatment--small-video" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107 107">
            <path
              d="M987.225,452.852a51.873,51.873,0,1,0,51.875,51.873A51.874,51.874,0,0,0,987.225,452.852Zm26.045,54.272L993.8,518.366,974.324,529.61a2.77,2.77,0,0,1-4.154-2.4V482.239a2.77,2.77,0,0,1,4.154-2.4L993.8,491.084l19.474,11.243A2.769,2.769,0,0,1,1013.27,507.124Z"
              transform="translate(-933.351 -450.852)" stroke-miterlimit="10" />
          </svg>
          <div class="video__hover-text">
            <div class="video__hover-text-background"></div>
            <div class="video__hover-text1">Lorem ipsum dolor</div>
            <div class="video__hover-text2">Lorem ipsum dolor sit amet,</div>
            <div class="video__hover-text3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
            </div>
          </div>
          <img src="../src/treatment-video-poster2.png" alt="" class="video__image--treatment">
        </a>
      </div>
    </div>
  </div>
  <!-- END PLYR video -->

  <!-- START treatment description -->
  <div class="flexbox--treatment--description">
    <div class="margin-top90 margin-bottom38 color-blue text--centered text--size30 text--weight400">
      LECZENIE
    </div>
    <div class="margin-bottom38 text--size20 text--weight500 color-semi-black">
      Nadwaga i otyłość są spowodowane wieloma czynnikami indywidualnymi oraz środowiskowymi, dlatego trudno znaleźć
      jedną metodę leczenia, która będzie <br>skuteczna w przypadku wszystkich chorych. Skuteczne, nowoczesne
      rozwiązanie terapeutyczne powinno się opierać przede wszystkim na wytworzeniu ujemnego <br>bilansu energetycznego
      poprzez zastosowanie diety niskoenergetycznej i zwiększeniu aktywności fizycznej.
    </div>
    <div class="text--size20 text--weight500 color-violet">Leczenie zachowawcze</div>
    <div class="text--size18 text--weight300 color-gray">Prawidłową ilość kalorii, które może dziennie zjadać konkretna
      osoba z nadwagą lub otyłością, aby uzyskać korzystny efekt leczniczy powinien ustalić lekarz <br>w porozumieniu z
      dietetykiem. To samo dotyczy aktywności ruchowej. Jej rodzaj i "dawkowanie" powinny być dopasowane do stanu
      zdrowia, kondycji fizycznej <br>i stopnia zaawansowania otyłości u każdego chorego oddzielnie. Takie zalecenia
      również powinien ustalić lekarz wspólnie z fizjoterapeutą.</div>
    <div class="margin-bottom70 text--size20 text--weight500 color-violet">Otyłość to choroba i trzeba ją leczyć!</div>
  </div>

  <!-- START images -->
  <div class="flexbox flexbox--about--images">
    <div class="flexbox__image-container--about--images">
      <div class="flexbox__opacity-box--about--images">
        BROSZURA DOTYCZĄCA AKTYWNOŚCI FIZYCZNEJ 1
      </div>
      <img src="../src/about-image2.png" alt="" class="flexbox__image--responsive">
    </div>
    <div class="flexbox__image-container--about--images">
      <div class="flexbox__opacity-box--about--images">
        BROSZURA DOTYCZĄCA AKTYWNOŚCI FIZYCZNEJ 2
      </div>
      <img src="../src/about-image3.png" alt="" class="flexbox__image--responsive">
    </div>
    <div class="flexbox__image-container--about--images">
      <div class="flexbox__opacity-box--about--images">
        BROSZURA DOTYCZĄCA AKTYWNOŚCI FIZYCZNEJ 3
      </div>
      <img src="../src/about-image4.png" alt="" class="flexbox__image--responsive">
    </div>
    <div class="flexbox__image-container--about--images">
      <div class="flexbox__opacity-box--about--images">
        WSKAZÓWKI DOTYCZĄCE WPROWADZANIA WŁAŚCIWYCH NAWYKÓW I ZDROWEGO STYLU ŻYCIA
      </div>
      <img src="../src/about-image3.png" alt="" class="flexbox__image--responsive">
    </div>
    <div class="flexbox__image-container--about--images">
      <div class="flexbox__opacity-box--about--images">
        TALEŻ ZDROWIA
      </div>
      <img src="../src/about-image3.png" alt="" class="flexbox__image--responsive">
    </div>
  </div>
  <!-- END images -->

  <!-- START epidemiology -->
  <div class="flexbox flexbox--epidemiology margin0">
    <div class="flexbox__container--epidemiology">
      <div class="flexbox__item--half">
        <div class="flexbox__wrapper--epidemiology-text">
          <div class="text--size18 text--weight500 color-violet">Leczenie farmakologiczne</div>
          <div class="text--size18 text--weight300 color-semi-black">
            Niestety, przy zastosowaniu podstawowych zaleceń dotyczących modyfikacji stylu życia, cel terapeutyczny
            osiągamy tylko u niewielkiej grupy pacjentów.<br>
            Pod opieką lekarza, terapię niefarmakologiczną pacjenta można wspomóc wybranymi, <br>skutecznymi lekami. Obecnie
            na polskim rynku mamy dostępne <br>trzy leki ułatwiające redukcję masy ciała.
            <ul class="text__ul-inside">
              <li><span class="color-semi-black">Pierwszy to inhibitor lipaz, hamujący wchłanianie tłuszczu z przewodu pokarmowego.</span><br><br></li>
              <li><span class="color-semi-black">Drugi to połączenie chlorowodorku bupropionu z chlorowodorkiem naltreksonu, które działając na ośrodkowy układ nerwowy, zwiększa uczucie sytości oraz hamuje apetyt.</span><br><br></li>
              <li><span class="color-semi-black">Trzeci – długo wyczekiwany lek z grupy analogów glukagonopodobnego peptydu-1 <br>(GLP-1) – Liraglutyd, który nie tylko ułatwia redukcję masy ciała, <br>ale również koryguje towarzyszące chorobie zaburzenia metaboliczne.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flexbox__item--half">
        <div class="flexbox__container--epidemiology-image--treatment-section">
          <img class="flexbox__image--epidemiology--treatment-section" src="../src/treatment--image1.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- END epidemiology -->

  <div class="flexbox--treatment--description">
    <div class="text--size20 text--weight500 color-violet">Leczenie chirurgiczne</div>
    <div class="text--size18 text--weight300 color-gray">
      Chirurgia bariatryczna to metoda leczenia, którą stosuje się u chorych z zaawansowaną otyłością. Do operacji
      kwalifikowani są chorzy na otyłość III stopnia (BMI 40+) lub otyłość
      II stopnia <br>(BMI 35,0 – 39,9), u których doszło już do powikłań choroby otyłości, np. cukrzycy typu 2,
      nadciśnienia
      tętniczego lub choroby zwyrodnieniowej stawów.
    </div>
    <div class="margin-top30 margin-bottom30 text--size18 text--weight300 color-gray">
      Obecnie w Polsce wykonuje się trzy rodzaje operacji bariatrycznych - rękawową resekcję żołądka (tzw. sleeve),
      by-pass żołądkowy (tzw. gastric by-pass i jego odmianę mini gastric by-pass) oraz <br>- coraz rzadziej - założenie
      opaski żołądkowej. Celem każdej z tych operacji jest nie tylko ograniczenie objętości żołądka, aby chory mógł
      spożywać mniejsze porcje, ale przede wszystkim <br>wyłączenie z działania tej części żołądka, w której produkowana
      jest grelina, czyli tzw. hormon głodu. Wszystkie trzy zabiegi są refundowane przez NFZ.
    </div>
    <div class="text--size20 text--weight500 color-violet">Zabiegi wyszczuplające to nie chirurgia bariatryczna!</div>
    <div class="text--size18 text--weight300 color-gray">
      Lipo-suction, czyli odsysanie tłuszczu, GUAM, masaż limfatyczny, odchudzanie termiczne GOLF i inne zabiegi
      przyczyniają się wprawdzie do redukcji tkanki tłuszczowej, ale sprawdzają się <br>głównie przy nadwadze, bo ich
      zadaniem jest wymodelowanie sylwetki, ujędrnienie mięśni, uelastycznienie skóry, a nie leczenie nadwagi i
      otyłości.
    </div>
  </div>

  <!-- START slick -->
  <div class="slick margin-top140">
    <div class="slick__images-container">
      <div class="slick__item slick__item--width-fit">
        <img src="../src/slick1.png" alt="" class="slick__image">
      </div>
      <div class="slick__item">
        <img src="../src/slick2.png" alt="" class="slick__image slick__image--wide">
      </div>
      <div class="slick__item">
        <img src="../src/slick1.png" alt="" class="slick__image">
      </div>
      <div class="slick__item">
        <img src="../src/slick2.png" alt="" class="slick__image slick__image--wide">
      </div>
      <div class="slick__item">
        <img src="../src/slick1.png" alt="" class="slick__image">
      </div>
      <div class="slick__item">
        <img src="../src/slick2.png" alt="" class="slick__image slick__image--wide">
      </div>
    </div>
  </div>
  <!-- END slick -->
  <!-- END treatment description -->

  <!-- START footer -->
  <div class="footer">
    <div class="footer__container footer__container1">
      <div class="footer__additional-container">
        <div class="footer__text footer__text1">Inicjatorzy:</div>
        <img class="footer__img1" src="../src/footer-img1.png" alt="">
      </div>
    </div>
    <div class="footer__container footer__container2">
      <div class="footer__additional-container">
        <div class="footer__text footer__text2">Mecenas kampanii</div>
        <img class="footer__img2" src="../src/footer-img2.png" alt="">
      </div>
    </div>

  </div>
  <!-- END footer -->

  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../node_modules/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="../node_modules/plyr/dist/plyr.js"></script>
  <script type="text/javascript" src="../main.js"></script>

</body>

</html>