.color-blue {
  color: #0f65b1;
}

.color-gray {
  color: #596060;
}

.color-violet {
  color: #897ac8;
}

.color-semi-black {
  color: #4d4d4d;
}

.color-white {
  color: #ffffff;
}

.color-pink {
  color: #d078a0;
}
