.slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.slick__images-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1462px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -o-object-fit: contain;
     object-fit: contain;
}

.slick__item {
  position: relative;
}

.slick__outside {
  display: initial;
}

@media screen and (max-width: 1499px) {
  .slick__outside {
    display: none;
  }
}

.slick__inside {
  display: none;
}

@media screen and (max-width: 1499px) {
  .slick__inside {
    display: initial;
  }
}

.slick__prev {
  margin-left: 8px;
  position: absolute;
  left: 0;
  top: calc(50% - 29px);
  z-index: 2;
  fill: #fff;
  opacity: 0.85;
}

.slick__prev:hover {
  opacity: 1;
  fill: #897ac8;
}

.slick__next {
  margin-right: 18px;
  position: absolute;
  right: 0;
  top: calc(50% - 29px);
  z-index: 2;
  fill: #fff;
  opacity: 0.85;
}

@media screen and (max-width: 1499px) {
  .slick__next {
    margin-right: 8px;
  }
}

.slick__next:hover {
  opacity: 1;
  fill: #897ac8;
}

.slick .slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick .slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}

.slick .slick-slide {
  margin: 0 7px;
}

@media screen and (max-width: 1499px) {
  .slick .slick-slide:not(.slick-current) {
    visibility: hidden;
  }
}

@media screen and (max-width: 1500px) {
  .slick .slick-list {
    padding-left: 0 !important;
  }
}
