.slick
  // display: flex
  //   margin: 0 auto
  &__images-container
      // width: fit-content
      max-width: 100vw
  //     z-index: 1
  //     display: flex
  //     justify-content: space-between

  &__item
    // display: flex
    width: 100%
    min-width: 320px
    // height: 370px

    //     position: relative
    //     media screen and ( max-width: 1439px )
    //       margin: 0 !important
    //       width: 320px !important

    //   // &__outside
    //   //   display: initial
    //   //   media screen and ( max-width: 1499px )
    //   //     display: none

    //   // &__inside
    //   //   display: none
    //   //   media screen and ( max-width: 1499px )
    //   //     display: initial
      
  &__image
    width: 100%
    min-width: 320px
    height: auto
    min-height: 400px
    object-fit: cover
   
//   &__prev
//     margin-left: 8px
//     position: absolute
//     left: 0
//     top: calc(50% - 29px)
//     z-index: 3
//     fill: #fff
//     opacity: 0.85
//     media screen and ( max-width: 1499px )
//       // left: 200px
//     &:hover
//       opacity: 1
//       fill: #897ac8

//   &__next
//     margin-right: 18px
//     position: absolute
//     right: 0
//     top: calc(50% - 29px)
//     z-index: 3
//     fill: #fff
//     opacity: 0.85
//     media screen and (max-width: 1499px)   
//       margin-right: 8px
//       // right: 200px
//     &:hover
//       opacity: 1
//       fill: #897ac8
   
//   //styling slick arrows
//   // .slick-prev:before 
//   //   content: "<"
//   //   color: red
//   //   font-size: 30px
//   // .slick-next:before 
//   //   content: ">"
//   //   color: red
//   //   font-size: 30px

//   .slick-track
//     overflow: hidden

//   // .slide-active
//   //   max-width: 800px
      

//   .slick-slide
//     margin: 0 7px

//   // .slick-slide:not(.slick-current)
//   //   media screen and (max-width: 1499px)    
//   //     visibility: hidden

//   // .slick-list
//   //   media screen and (max-width: 1500px) 
//   //     padding-left: 0 !important