.text
  &--centered
    width: 100%
    text-align: center
    
  &--size
    &17
      font-size: 17px
    &18
      font-size: 18px
    &20
      font-size: 20px
    &30
      font-size: 30px

  &--weight
    &300
      font-weight: 300
    &400
      font-weight: 400
    &500
      font-weight: 500
    &700
      font-weight: 700