.text__ul-inside {
  list-style-position: inside;
  padding-left: 0;
  font-size: 13px;
}

.text__ul-inside li {
  font-size: 13px;
  color: #897ac8;
  text-align: -webkit-match-parent;
}

.text__ul-inside li span {
  color: #000;
  font-size: 18px;
}

.text--centered {
  width: 100%;
  text-align: center;
}

.text--size17 {
  font-size: 17px;
}

.text--size18 {
  font-size: 18px;
}

.text--size20 {
  font-size: 20px;
}

.text--size30 {
  font-size: 30px;
}

.text--weight300 {
  font-weight: 300;
}

.text--weight400 {
  font-weight: 400;
}

.text--weight500 {
  font-weight: 500;
}

.text--weight700 {
  font-weight: 700;
}
