.video
  display: flex
  justify-content: center
  align-items: center
  object-fit: cover
  margin: 74px 0 46px
  z-index: 2
  &--treatment
    display: flex
    z-index: 2
    margin: 0 auto
    width: fit-content
    @media screen and ( min-width: 1920px )
      margin: 0 12.3% 0 11.9%
      
  
  &__wrapper
    position: relative
    cursor: pointer
    width: 100%
    height: auto
    max-width: 1462px
    margin: 0 12.3% 0 11.9%
    @media (min-width: 970px) and ( max-width: 1550px )
      height: 800px
      margin: 0
    @media screen and ( max-width: 969px )
      width: 100%
      margin: 0
    &--about:hover
      //for about view
      .video__button
        fill: #897ac8
        stroke: #897ac8

    &--treatment
      display: flex
      flex-direction: row
      position: relative
      cursor: pointer
      width: 100%
      height: auto
      max-width: 1462px
      @media screen and ( max-width: 1464px )
        width: calc(100vw - 303px)
        margin-right: 15px

      &--big-video
        position: relative
        width: 100%
        max-width: 1156px
        height: 100%
        margin-right: 15px
        &:hover
          // for treatment view
          .video__button
            fill: #897ac8
            stroke: #897ac8

      &--column-of-videos
        display: flex
        flex-direction: column
        justify-content: space-between
        max-height: 651px

      &--small-video
        position: relative
        width: 288px
        height: 206px
        &:hover
          .video__button--treatment--small-video
            display: none
          .video__hover-text
            opacity: 1

  &__player
    width: 100%
    height: 100%
    max-height: 603px
    object-fit: cover
    object-position: 65%
    @media (min-width: 970px) and ( max-width: 1550px )
      max-height: none
      height: 800px
    @media screen and (max-width: 969px)
      width: 100%
      height: 100%
      max-height: none
    &--treatment
      z-index: 0
      width: 100%
      max-width: 1156px
      height: 651px
      object-fit: cover

  &__button
    fill: #fff 
    stroke: #fff
    stroke-width: 4
    opacity: 0.85
    position: absolute
    left: calc( 50% - 59px ) 
    top: calc( 50% - 59px ) 
    pointer-events: none
    z-index: 100
    &--treatment--small-video
      width: 17.3%
      height: 24.3%
      fill: #fff 
      stroke: #fff
      stroke-width: 4
      opacity: 0.85
      position: absolute
      left: calc( 50% - 25px ) 
      top: calc( 50% - 25px ) 
     
  &__image--treatment
    width: 100%
    height: 100%
    object-fit: cover
    pointer-events: none

  &__hover-text
    position: absolute
    width: 100%
    min-height: 146px 
    max-width: 194px
    color: #fff
    padding: 25px 74px 35px 20px
    opacity: 0
    transition: opacity 0.5s
    &-background
      pointer-events: none
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: #897ac8
      opacity: 0.8
    &1
      position: relative
      font-size: 17px
      letter-spacing: 0.43px
    &2
      position: relative
      font-size: 15px
      margin: 24px 0 8px
    &3
      position: relative
      font-size: 11px