.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 74px 0 46px;
  z-index: 2;
}

.video--treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 1920px) {
  .video--treatment {
    margin: 0 12.3% 0 11.9%;
  }
}

.video__wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 1462px;
  margin: 0 12.3% 0 11.9%;
}

@media (min-width: 970px) and (max-width: 1550px) {
  .video__wrapper {
    height: 800px;
    margin: 0;
  }
}

@media screen and (max-width: 969px) {
  .video__wrapper {
    width: 100%;
    margin: 0;
  }
}

.video__wrapper--about:hover .video__button {
  fill: #897ac8;
  stroke: #897ac8;
}

.video__wrapper--treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 1462px;
}

@media screen and (max-width: 1464px) {
  .video__wrapper--treatment {
    width: calc(100vw - 303px);
    margin-right: 15px;
  }
}

.video__wrapper--treatment--big-video {
  position: relative;
  width: 100%;
  max-width: 1156px;
  height: 100%;
  margin-right: 15px;
}

.video__wrapper--treatment--big-video:hover .video__button {
  fill: #897ac8;
  stroke: #897ac8;
}

.video__wrapper--treatment--column-of-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 651px;
}

.video__wrapper--treatment--small-video {
  position: relative;
  width: 288px;
  height: 206px;
}

.video__wrapper--treatment--small-video:hover .video__button--treatment--small-video {
  display: none;
}

.video__wrapper--treatment--small-video:hover .video__hover-text {
  opacity: 1;
}

.video__player {
  width: 100%;
  height: 100%;
  max-height: 603px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 65%;
     object-position: 65%;
}

@media (min-width: 970px) and (max-width: 1550px) {
  .video__player {
    max-height: none;
    height: 800px;
  }
}

@media screen and (max-width: 969px) {
  .video__player {
    width: 100%;
    height: 100%;
    max-height: none;
  }
}

.video__player--treatment {
  z-index: 0;
  width: 100%;
  max-width: 1156px;
  height: 651px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__button {
  fill: #fff;
  stroke: #fff;
  stroke-width: 4;
  opacity: 0.85;
  position: absolute;
  left: calc( 50% - 59px);
  top: calc( 50% - 59px);
  pointer-events: none;
  z-index: 100;
}

.video__button--treatment--small-video {
  width: 17.3%;
  height: 24.3%;
  fill: #fff;
  stroke: #fff;
  stroke-width: 4;
  opacity: 0.85;
  position: absolute;
  left: calc( 50% - 25px);
  top: calc( 50% - 25px);
}

.video__image--treatment {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.video__hover-text {
  position: absolute;
  width: 100%;
  min-height: 146px;
  max-width: 194px;
  color: #fff;
  padding: 25px 74px 35px 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.video__hover-text-background {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #897ac8;
  opacity: 0.8;
}

.video__hover-text1 {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.43px;
}

.video__hover-text2 {
  position: relative;
  font-size: 15px;
  margin: 24px 0 8px;
}

.video__hover-text3 {
  position: relative;
  font-size: 11px;
}
