.video //container
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  object-fit: cover
  margin-bottom: 46px

  &__actual
    width: 75%
    max-width: 1440px
    height: auto