.margin
  &0
    margin: 0 !important
  &-top    
    &140
      margin-top: 140px !important
    &90
      margin-top: 90px
    &45
      margin-top: 45px
    &38
      margin-top: 38px
    &30
      margin-top: 30px

  &-bottom
    &77
      margin-bottom: 77px
    &70
      margin-bottom: 70px
    &50
      margin-bottom: 50px
    &40
      margin-bottom: 40px
    &38
      margin-bottom: 38px
    &37
      margin-bottom: 37px
    &30
      margin-bottom: 30px
    &29
      margin-bottom: 29px