.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 969px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1919px) {
  .about br {
    display: none;
  }
}

.about__br-always-on br {
  display: initial;
}

.about ul, .about li {
  list-style-position: outside;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

@media screen and (max-width: 969px) {
  .about ul, .about li {
    text-align: left;
  }
}

.about li {
  font-size: 13px;
  color: #897ac8;
}

.about li span {
  color: #000;
  font-size: 18px;
}

.about__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 48%;
}

@media screen and (max-width: 969px) {
  .about__item1 {
    margin-bottom: 30px;
    width: 100%;
  }
}

.about__image-wrapper {
  width: 100%;
  max-width: 676px;
  line-height: 1.67;
}

@media screen and (max-width: 969px) {
  .about__image-wrapper {
    max-width: none;
  }
}

.about__image {
  width: 100%;
  height: auto;
}

.about__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  margin-top: 20px;
}

@media screen and (max-width: 969px) {
  .about__item2 {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.about__wrapper2 {
  width: calc(100% - 68px);
  max-width: 725px;
  margin: 0 20px 0 48px;
}

@media screen and (min-width: 1920px) {
  .about__wrapper2 {
    width: 100%;
  }
}

@media screen and (max-width: 969px) {
  .about__wrapper2 {
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

.about__size20-weight500 {
  font-size: 20px;
  font-weight: 500;
}

.about__size18-weight300 {
  font-size: 18px;
  font-weight: 300;
}

.about__turn-violet {
  color: #897ac8;
}

.about__text1 {
  line-height: 1.5;
}

@media screen and (max-width: 969px) {
  .about__text1 {
    width: 100%;
  }
}

.about__text2 {
  margin-top: 70px;
  line-height: 1.67;
}

@media screen and (max-width: 969px) {
  .about__text2 {
    margin-top: 30px;
  }
}

.about__text4 {
  max-width: 465px;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 40px;
  line-height: 1.38;
  color: #0f65b1;
}

@media (min-width: 970px) and (max-width: 1025px) {
  .about__text4 {
    font-size: 36px;
  }
}

@media screen and (max-width: 969px) {
  .about__text4 {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 529px) {
  .about__text4 {
    font-size: 24px;
    max-width: 318px;
  }
}
