.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.background__small {
  background-image: url("src/background.png");
  background-repeat: no-repeat;
  height: 2287px;
  z-index: 2;
}

.background__small:after {
  opacity: 0.25;
}

.background__large {
  background-image: url("src/background-large.png") !important;
  height: 5142px;
}
