.background
  width: 100%
  position: absolute
  top: 0 
  bottom: 0  ///////////////////////////////////// mega przydatne
  pointer-events: none

  &__small
    background-image: url("src/background.png")
    background-repeat: no-repeat
    z-index: 2
    &:after
     opacity: 0.25 

  &__large
    background-image: url("src/background-large.png")
    background-repeat: no-repeat
    z-index: 2
    &:after
     opacity: 0.25 

  &--about--complications
    //circles
    height: 120px
    width: 120px
    background-color: #897ac8
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

  &--source
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0.8
    background-color: #897ac8
    transition: opacity 0.5s
    // z-index: 3