.background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.background__small {
  background-image: url("src/background.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.background__small:after {
  opacity: 0.25;
}

.background__large {
  background-image: url("src/background-large.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.background__large:after {
  opacity: 0.25;
}

.background--about--complications {
  height: 120px;
  width: 120px;
  background-color: #897ac8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
