//TODO: in the future need to change height from set like this
//      it cannot be set to px
  
.background
  display: flex
  width: 100%
  position: absolute
  top: 0

  &__small
    background-image: url("src/background.png")
    background-repeat: no-repeat
    height: 2287px
    z-index: 2
    &:after
     opacity: 0.25 

  &__large
    background-image: url("src/background-large.png") !important
    height: 5142px

//TODO: background ma miec opacity fajnie
//i byc na wierzchu