.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.background__small {
  background-image: url("src/background.png");
  height: 2287px;
}

.background__large {
  background-image: url("src/background-large.png") !important;
  height: 5142px;
}
